<div *ngFor="let message of chatmessages" class="chatItem">

  <div class="row">
    <div class="col-auto">
      <img src="https://api.adorable.io/avatars/75/{{message.username}}.png" class="avatar">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <b>{{message.username}}</b>
          <i>{{timeAgo(message.since)}}</i>
        </div>
        <div class="col-12">
          {{message.text}}
        </div>
        <div class="col-12 resourceView" *ngIf="message.resource">
          <div class="alert alert-secondary" role="alert">
            <app-resourceitem resourceString="{{getResource(message.resource)}}"></app-resourceitem>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="editMessage(message.id)" class="btn btn-outline-primary btn-sm">&#9998;</button>
      <button type="submit" (click)="deleteMessage(message.id)" class="btn btn-outline-danger btn-sm">&#10799;</button>
    </div>
  </div>
</div>
