<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Wogema</a>
</nav>
<div class="row container-fluid content">
  <div class="d-md-none col-md-12">
    <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="showChatlist=!showChatlist;">Chat ruimtes</button>
  </div>
  <div class="col-md-2" [ngClass]="{ 'd-none d-md-block': showChatlist === false }">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">Algemeen</li>
      <li class="list-group-item list-group-item-action active">Linux</li>
      <li class="list-group-item list-group-item-action">Ov group</li>
      <li class="list-group-item list-group-item-action">Bioscoop fans</li>
      <li class="list-group-item list-group-item-action">Soorten zoekers</li>
      <li class="list-group-item list-group-item-action">Algemeen</li>
    </ul>
  </div>
  <div class="col-md-10 chatBox" [ngClass]="{ 'd-none d-md-block': showChatlist !== false }">
    <div *ngFor="let hero of emptyArray" class="chatItem">

      <div class="row">
        <div class="col-auto">
          <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=n" class="avatar">
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <b>Gerben Droogers</b> <i>10:00</i>
            </div>
            <div class="col-12">
              Bericht
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-sm">&#9998;</button>
          <button type="submit" class="btn btn-danger btn-sm">&#10799;</button>
        </div>
      </div>

    </div>

    <div class="chatBar">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Type hier een chat bericht">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Stuur</button>
        </div>
      </div>
    </div>
  </div>
</div>
