<app-header></app-header>
<div class="container-fluid content">
  <div class="row">
    <div class="d-md-none">
      <button type="button" class="btn btn-primary" (click)="showChatlist=!showChatlist;">Chat ruimtes</button>
    </div>
    <div class="col-md-2" [ngClass]="{ 'd-none d-md-block': showChatlist == false }">
      Overzicht met chatboxxen
    </div>
    <div class="col-md-10">
      Chatbox komt hier
      <div class="chatBar">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Type hier een chat bericht">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Stuur</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
