.content {
  padding-top: 60px;
  padding-bottom: 30px;
  height: calc(100% - 30px);;
}

.chatBoxList {
  overflow-y:auto;
  overflow-x:hidden;
  height: 100%;
}

.chatBox {
  overflow-y:auto;
  overflow-x:hidden;
  height: 100%;
}

.chatBar {
  position: fixed;
  bottom: 6px;
  left: 10px;
  right: 10px;
}

.chatItem {
  margin: 5px;
}

.chatItem:hover {
    background-color: #f0f0f0;
}

.avatar {
  width: 50px;
  border-radius: 5px;
}
