<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">💬 Wogema</a>
  <div class="">
    <button type="button" class="btn btn-secondary d-md-none" (click)="showChatlist=!showChatlist;">Chat ruimtes</button>
    <button type="button" class="btn btn-secondary">?</button>
    <button type="button" (click)="logOut()" class="btn btn-secondary">🚪</button>
  </div>
</nav>
<div class="row container-fluid content">
  <div class="col-md-2" [ngClass]="{ 'd-none d-md-block': showChatlist === false }">
    <app-chatboxlist></app-chatboxlist>
  </div>
  <div class="col-md-10 chatBox" [ngClass]="{ 'd-none d-md-block': showChatlist !== false }">
    <app-chatarea></app-chatarea>
    <div class="chatBar">
        <app-inputfield></app-inputfield>
    </div>
  </div>
</div>
