<ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let chatbox of chatboxes">
    <div class="row">
      <div class="col">
        <div [ngClass]="{ 'hidden': chatbox.edit === false }"><a routerLink="{{'/m/'+chatbox.id}}">{{chatbox.name}}</a></div>
        <input (keyup.enter)="updateChatbox(chatbox);" [(ngModel)]="chatbox.name" class="form-control" [ngClass]="{ 'hidden': chatbox.edit !== false }">
      </div>
      <div class="col-auto" [ngClass]="{ 'hidden': chatbox.edit === false }">
        <button (click)="chatbox.edit = false;" type="submit" class="btn btn-outline-primary btn-sm">&#9998;</button>
        <button (click)="destroyChatbox(chatbox);" type="submit" class="btn btn-outline-danger btn-sm">&#10799;</button>
      </div>
    </div>
  </li>
  <li class="list-group-item list-group-item-action list-group-item-primary">
    <div (click)="showCreateNew = true;" [ngClass]="{ 'hidden': showCreateNew !== false }">Nieuwe groep</div>
    <input (keyup.enter)="storeChatbox();" [(ngModel)]="newBox.name" class="form-control" [ngClass]="{ 'hidden': showCreateNew === false }">
  </li>
</ul>
